.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: inherit;
  height: inherit;
}

.counterValue {
  margin: 0 auto;
}

.counterValueMax {
  color: crimson;
}